<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en"  >
<head>
    <meta charset="UTF-8">
    <title>Listado de Sucursales</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <div class="container">
      <div clase="row">
          <h1>Lista de las Sucursales</h1>
      </div>
      <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
                <th> Name </th>
                <th> Country </th>
            </tr>
          </thead>
          <tbody>
             <tr th: each = "branches : ">
                <td> Name </td>
                <td> Country </td>
            </tr>
          </tbody>

      </table>

  </div>



</body>
</html>